* {
    padding: 0;
    margin: 0;
    background-image: url("/images/backgroundimg.png");
    background-repeat: repeat;
}

.rules {
    outline-style: solid;
    outline-color: white;
    outline-width: 1px; 
    width: 250px;
    height: 600px;
    margin-left: 100px;
    color: white
}

#gameArea{
    outline-style: solid;
    outline-color: white;
    outline-width: 1px; 
    width: 800px;
    height: 600px;
}

.instructions{
    outline-style: solid;
    outline-color: white;
    outline-width: 1px; 
    width: 250px;
    height: 600px;
    margin-right: 100px;
    color: white
}

.section1{
    display: flex;
    margin-top: 5%;
}

.info{
    outline-style: solid;
    outline-color: white;
    outline-width: 1px; 
    width: 1180px;
    height: 50px;
    margin-left: 100px;
    margin-right: 100px;
    color: white
}

body {
    display:flex;
    flex-direction: column;
    align-items: center;
}

