* {
    padding: 0;
    margin: 0;
    background-image: url("./images/background-image.png");
    background-repeat: no-repeat;
    }

    .rules {
        outline-style: solid;
        outline-color: white;
        outline-width: 1px;
        width: 250px;
        height: 500px;
        margin-left: 100px;
        color: white
    }

    #gameArea {
        outline-style: solid;
        outline-color: white;
        outline-width: 1px;
        width: 800px;
        height: 500px;
        background-image: url("./images/game-bgi.png");
        background-size: stretch;
    }

    .instructions {
        outline-style: solid;
        outline-color: white;
        outline-width: 1px;
        width: 250px;
        height: 500px;
        margin-right: 100px;
        color: white
    }

    .section1 {
        display: flex;
        margin-top: 5%;
    }

    .info {
        outline-style: solid;
        outline-color: white;
        outline-width: 1px;
        width: 1180px;
        height: 50px;
        margin-left: 100px;
        margin-right: 100px;
        color: white
    }

    body {
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    #start, #level {
        margin-top: 20%;
        margin-left: 190px;
        margin-right: 190px;
        font-family:Arial, Helvetica, sans-serif;
        color: #ffffff;
        padding: 20px;
        height:200px;
        width:250px;
        text-align: center;
    }

    #start a, #level a {
        border: 3px solid #ffffff;
        color: #ffffff;
        text-decoration: none;
        padding: 10px;
        border-radius: 15px;
        cursor: pointer;
        display: block;
        width: 200px;
        text-align: center;
        font-size:2em;
        display: inline-block;
    }

    #buttons {
        display: flex;
        flex-direction: column;
        max-height: 500px;
        justify-content: center;
    }